### Question 1

Consider the following Python module:

a = 0

def b():

    global a

    a = c(a)

def c(a):

    return a + 2

After importing the module into the interpreter, you execute:

\>>> b()

\>>> b()

\>>> b()

\>>> a

?

What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

The value displayed will be 0. the first call of b() will set the global variable a to the result of c(a) which will be 0 + 2. The next call of b() will change a from 2 to 4 and the third call of b() will change a from 4 to 6. Once a itself is called it will return the hard coded value it originally will start with which was 0.

### Question 2

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

\>>> fileLength('midterm.py')

284

\>>> fileLength('idterm.py')

Traceback (most recent call last):

  File "<pyshell#34>", line 1, in \<module>
    fileLength('idterm.py')
  File "/Users/me/midterm.py", line 3, in fileLength
    infile = open(filename)

FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'

As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:

\>>> fileLength('midterm.py')

358

\>>> fileLength('idterm.py')

File idterm.py not found.

In [1]:
def fileLength(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("File {} not found.".format(file_name))

In [2]:
fileLength('idterm.py')

File idterm.py not found.

### Question 3

Write a class named Marsupial that can be used as shown below:

\>>> m = Marsupial()


\>>> m.put_in_pouch('doll')

\>>> m.put_in_pouch('firetruck')

\>>> m.put_in_pouch('kitten')

\>>> m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [3]:
class Marsupial:
    def __init__(self):
        self.pouch = []
        
    def put_in_pouch(self, item):
        self.pouch.append(item)
    
    def pouch_contents(self):
        return self.pouch

In [4]:
 m = Marsupial()

m.put_in_pouch('doll')

m.put_in_pouch('firetruck')

m.put_in_pouch('kitten')

m.pouch_contents()

['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:

a.	extends the Marsupial \_\_init\_\_ constructor to take, as input, the coordinates x and y of the Kangaroo object,

b.	supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and

c.	overloads the \_\_str\_\_ operator so it behaves as shown below.

In [5]:
class Kangaroo(Marsupial):
    
    def __init__(self,xcoord=0,ycoord=0):
        self.x = xcoord
        self.y = ycoord
        self.pouch = []
    
    def jump(self,dx=0,dy=0):
        self.x += dx
        self.y += dy
        
    def __str__(self):
        return "I am a Kangaroo located at coordinates ({},{})".format(self.x,self.y)

In [6]:
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
I am a Kangaroo located at coordinates (3,0)

### Question 5

In [7]:
def collatz(x):
    if (x <= 0):
        print('Please input a positive integer.')
    elif (x == 1):
        print(x)
    elif (x % 2 == 0):
        print(x)
        collatz(x//2)
    else:
        print(x)
        collatz(3*x + 1)

In [8]:
collatz(1)

1

In [9]:
collatz(10)

10
5
16
8
4
2
1

In [10]:
collatz(1997)

1997
5992
2996
1498
749
2248
1124
562
281
844
422
211
634
317
952
476
238
119
358
179
538
269
808
404
202
101
304
152
76
38
19
58
29
88
44
22
11
34
17
52
26
13
40
20
10
5
16
8
4
2
1

### Question 6
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [11]:

def binary(n):
    if n == 0:
        return 0
    else:
        return 10*binary(n//2) + n%2

In [12]:
binary(9)

1001

In [13]:
binary(1997)

11111001101

### Question 7

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

\>>> infile = open('w3c.html')

\>>> content = infile.read()

\>>> infile.close()

\>>> hp = HeadingParser()

\>>> hp.feed(content)

W3C Mission

    Principles

In [14]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    
    def __init__(self):
        
        HTMLParser.__init__(self)
        self.indentNum = 0
        self.headCheck = False
    
    def handle_starttag(self, tag, attrs):
        
        if tag in ['h1','h2','h3','h4','h5','h6']:
            self.headCheck = True
            self.indentNum = int(tag[-1]) - 1
        
    def handle_data(self, data):
        if self.headCheck:
            dataIndent = '\t'*self.indentNum 
            print('{}{}'.format(dataIndent, data))
            
    def handle_endtag(self, tag):
        if tag in ['h1','h2','h3','h4','h5','h6']:
            self.headCheck = False
            self.indentNum = 0

In [15]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

The World Wide Web Consortium
	Who are the W3C members?
	Who are the W3C team members?
	Why should I join?
	Activities of the W3C
	Ways to get involved

### Question 8

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent,  should be used to indicate the depth of a URL.

webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/test1.html

    http://reed.cs.depaul.edu/lperkovic/test2.html

        http://reed.cs.depaul.edu/lperkovic/test4.html

    http://reed.cs.depaul.edu/lperkovic/test3.html
        
        http://reed.cs.depaul.edu/lperkovic/test4.html

In [16]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

    

class Collector(HTMLParser):
    
    def __init__(self, url):
        
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
    
    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    self.links.append(attr[1])
                    
    def getLinks(self):
        return self.links

In [17]:
def webdir(url, depth, indent):
    print("{}{}".format('\t'*indent, url))
    try:
        resource = urlopen(url)
        content = resource.read().decode()
        
        collector = Collector(url)
        collector.feed(content)
        listOfURLs = collector.getLinks()
        
        for URL in listOfURLs:
            
            if (depth > 0):
                webdir(URL, depth - 1, indent + 1)
    except:
        pass

In [18]:
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/test1.html
	http://reed.cs.depaul.edu/lperkovic/test2.html
		mailto:lperkovic@cs.depaul.edu
		test4.html
	test3.html

In [19]:
webdir('https://en.wikipedia.org/wiki/Wikipedia', 0, 1)

	https://en.wikipedia.org/wiki/Wikipedia

### Question 9
Write SQL queries on the below database table that return: 

|City|Country|Season|Temperature (C)|Rainfall (mm)|
|----|-------|------|---------------|-------------|
|Mumbai|India|Winter|24.8|5.9|
|Mumbai|India|Spring|28.4|16.2|
|Mumbai|India|Summer|27.9|1549.4|
|Mumbai|India|Fall|27.6|346.0|
|London|United Kingdom|Winter|4.1|207.7|
|London|United Kingdom|Spring|8.3|169.6|
|London|United Kingdom|Summer|15.7|157.0|
|London|United Kingdom|Fall|10.4|218.5|
|Cairo|Egypt|Winter|13.6|16.5|
|Cairo|Egypt|Spring|20.7|6.5|
|Cairo|Egypt|Summer|27.7|0.1|
|Cairo|Egypt|Fall|22.2|4.5|

In [20]:
import sqlite3
con = sqlite3.connect('weather_data.db')
cur = con.cursor()
#cur.execute("DROP TABLE weather_data")
#cur.execute("CREATE TABLE IF NOT EXISTS Weather_data (City text, Country text, Season Text, Temperature_C Real, Rainfall_mm Real)")
weather_data = [['Mumbai','India','Winter',24.8,5.9],
['Mumbai' , 'India' , 'Spring' , 28.4 , 16.2],
['Mumbai' , 'India' , 'Summer' , 27.9 , 1549.4],
['Mumbai' , 'India' , 'Fall' , 27.6 , 346.0],
['London' , 'United Kingdom' , 'Winter' , 4.1 , 207.7],
['London' , 'United Kingdom' , 'Spring' , 8.3 , 169.6],
['London' , 'United Kingdom' , 'Summer' , 15.7 , 157.0],
['London' , 'United Kingdom' , 'Fall' , 10.4 , 218.5],
['Cairo' , 'Egypt' , 'Winter' , 13.6 , 16.5],
['Cairo' , 'Egypt' , 'Spring' , 20.7 , 6.5],
['Cairo' , 'Egypt' , 'Summer' , 27.7 , 0.1],
['Cairo' , 'Egypt' , 'Fall' , 22.2 , 4.5]]

#for entry in weather_data:
#    cur.execute("INSERT INTO Weather_data VALUES (?,?,?,?,?)", (entry[0],entry[1],entry[2],entry[3],entry[4]))

con.commit()
con.close()

a)	All the temperature data.

In [21]:
con = sqlite3.connect('weather_data.db')
cur = con.cursor()
cur.execute("SELECT Temperature_C from weather_data")
[entry[0] for entry in cur.fetchall()]

[24.8, 28.4, 27.9, 27.6, 4.1, 8.3, 15.7, 10.4, 13.6, 20.7, 27.7, 22.2]

b)	All the cities, but without repetition.

In [22]:

cur.execute("SELECT DISTINCT City from weather_data")
[entry[0] for entry in cur.fetchall()]

['Mumbai', 'London', 'Cairo']

c)	All the records for India.

In [23]:

cur.execute("SELECT * from weather_data WHERE Country = 'India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

d)	All the Fall records.

In [24]:

cur.execute("SELECT * FROM weather_data WHERE Season = 'Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

e)	The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.

In [25]:

cur.execute("SELECT * FROM weather_data WHERE Rainfall_mm BETWEEN 200 AND 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.1, 207.7),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5)]

f)	The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [26]:

cur.execute("SELECT City, Country FROM weather_data WHERE Season = 'Fall' AND Temperature_C > 20.0 ORDER BY Temperature_C ASC")
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

g)	The total annual rainfall for Cairo.

In [27]:

cur.execute("SELECT SUM(Rainfall_mm) FROM weather_data WHERE City = 'Cairo'")
cur.fetchall()[0][0]

27.6

h)	The total rainfall for each season.

In [28]:

cur.execute("SELECT Season, SUM(Rainfall_mm) FROM weather_data GROUP BY Season")
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

In [29]:
con.commit()
con.close()

### Question 10

Suppose list words is defined as follows:

\>\>\> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following lists:

a)	['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b)	['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c)	[3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

d)	[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

e)	['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [30]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [31]:
[word.upper() for word in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [32]:
[word.lower() for word in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [33]:
[len(word) for word in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [34]:
[[word.upper(),word.lower(),len(word)] for word in words]

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [35]:
[word for word in words if len(word) >= 4]

['quick', 'brown', 'jumps', 'over', 'lazy']